In [38]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [39]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df= pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shingu,JP,2/6/2022 23:11,33.7333,135.9833,38.91,64,19,5.57
1,1,Jamestown,US,2/6/2022 23:08,42.0970,-79.2353,33.39,44,0,7.00
2,2,Marawi,PH,2/6/2022 23:08,7.9986,124.2928,64.65,88,26,1.52
3,3,Upernavik,GL,2/6/2022 23:08,72.7868,-56.1549,-15.50,99,100,9.75
4,4,Nicoya,CR,2/6/2022 23:12,10.1483,-85.4520,83.75,47,73,9.26

In [40]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [41]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [42]:
# Get the maximum temperature.(we added this step later due to -ve temp in max temp list, we are removing now)
max_temp = city_data_df['Max Temp']
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# 3. Assign the figure variable 
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable 
heat_layer = gmaps.heatmap_layer(locations, weights = temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
#rewriting code for weights and cab written in following options as well
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat','Lng']]

# Get the maximum temperature.
max_temp = city_data_df['Max Temp']

# 3. Assign the figure variable 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable 
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,
max_intensity=300, point_radius=5)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [49]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Nicoya,CR,2/6/2022 23:12,10.1483,-85.452,83.75,47,73,9.26
6,6,Gamba,GA,2/6/2022 23:09,-2.6500,10.000,76.68,89,29,5.77
7,7,Hilo,US,2/6/2022 23:04,19.7297,-155.090,74.25,93,53,3.00
9,9,Avarua,CK,2/6/2022 23:12,-21.2078,-159.775,82.45,78,40,16.11
16,16,Lazaro Cardenas,MX,2/6/2022 23:12,17.9583,-102.200,82.89,51,9,10.58

In [50]:
preferred_cities_df.count()

City_ID       211
City          211
Country       210
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [51]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4            Nicoya      CR     83.75  10.1483  -85.4520
6             Gamba      GA     76.68  -2.6500   10.0000
7              Hilo      US     74.25  19.7297 -155.0900
9            Avarua      CK     82.45 -21.2078 -159.7750
16  Lazaro Cardenas      MX     82.89  17.9583 -102.2000
18           Hobart      AU     70.02 -42.8794  147.3294
19            Vaini      TO     77.16 -21.2000 -175.2000
21  Arraial Do Cabo      BR     80.46 -22.9661  -42.0278
22          Rikitea      PF     79.30 -23.1203 -134.9692
24        Carnarvon      AU     71.58 -24.8667  113.6333

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [62]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [64]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Nicoya,CR,83.75,10.1483,-85.4520,Las Cabinas Del Sueño
6,Gamba,GA,76.68,-2.6500,10.0000,
7,Hilo,US,74.25,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
16,Lazaro Cardenas,MX,82.89,17.9583,-102.2000,Baymont by Wyndham Lazaro Cardenas
18,Hobart,AU,70.02,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
19,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
21,Arraial Do Cabo,BR,80.46,-22.9661,-42.0278,Pousada Porto Praia
22,Rikitea,PF,79.30,-23.1203,-134.9692,People ThankYou
24,Carnarvon,AU,71.58,-24.8667,113.6333,Hospitality Carnarvon

In [66]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
#Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))