## Deliverable 3. Create a Travel Itinerary Map.

In [165]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [166]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,79.34,scattered clouds,-23.1203,-134.9692,People ThankYou
1,3,Wagar,SD,70.05,clear sky,16.1525,36.2032,NaN
2,4,Contamana,PE,72.81,scattered clouds,-7.3333,-75.0167,Shiringal Touristic Park
3,5,Bengkulu,ID,78.87,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,6,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [167]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [168]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [169]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Broken Hill']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Broken Hill']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Lakes Entrance']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Flinders'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Nelson Bay'] 
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
141,434,Lakes Entrance,AU,74.16,clear sky,-37.8811,147.981,The Esplanade Resort & Spa

In [170]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
start

array([-31.95, 141.4333], dtype=object)

In [178]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
road_trip=gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode= 'DRIVING')
fig.add_layer(road_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [179]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,159,Broken Hill,AU,78.51,clear sky,-31.9500,141.4333,Royal Exchange Hotel
1,434,Lakes Entrance,AU,74.16,clear sky,-37.8811,147.9810,The Esplanade Resort & Spa
2,45,Flinders,AU,72.68,light rain,-34.5833,150.8552,Shellharbour Resort & Conference Centre
3,66,Nelson Bay,AU,81.09,broken clouds,-32.7167,152.1500,Mantra Nelson Bay

In [180]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [182]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)

# 11b. Display the figure
fig=gmaps.figure(center=(-35,140), zoom_level= 5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))